html, 
body,
header,
a,
nav,
ul,
li,
section,
button,
h3,
p,
img,
 footer{ 
    margin: 0;
    padding:0 ;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Poppins;
    background: #1E252B;
}

.container{
    max-width: 1225px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* ===================header==================== */

.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 116px;
  margin-top: 38px;
  align-items: center;
   
 
    
}

.header-list{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}


.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 34px;
    
   
    
}



.logo-text{
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo-img{
 
}

.nav{

}

.nav-list{
display: flex;
justify-content: space-between;
gap: 38px;
}

.nav-item{

}

.item{
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.item:hover{
    color: #FF6E30;
}

.register{
    display: flex;
}

.reg{
     display: flex;
     
   
     
     
     
}

.reg2{
    padding-left: 193px;
}

.reg-item{
    color: rgba(255, 255, 255, 0.78);

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.reg-item:hover{
    color: #EA8C4F;
}

.btn2{
    background: #1E252B;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-shrink: 0;
    border-radius: 8px;
    color: #FDF5FF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border: none;
}

.btn{
    background: #1E252B;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-shrink: 0;
    border-radius: 8px;
    color: #FDF5FF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
    border: none;
}

.btn:hover{
    border-radius: 8px;
background: #FF6E30;
}

.btn2:hover{
    border-radius: 8px;
background: #FF6E30;
}

.firsttext{

}





.banner{
background-image: url(img/Illustration.png);
background-repeat: no-repeat;
background-position: right;
padding-top: 90px;
text-align: left;
}

.banner-title{
    color: rgba(255, 255, 255, 0.90);
width: 600px;
font-size: 50px;
font-weight: 500;
line-height: 1.4; /* 70px */
}

.secondtext{
    color: rgba(255, 110, 48, 1);
}

.banner-text{
    color: rgba(255, 255, 255, 0.55);
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 487px;
margin-bottom: 60px;
}

.header-section-img{
 margin-top: 70px;
}

.bunner-form {
   
}
.bunner-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background-color: #283036;
  padding-left: 55px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 11px;
}

.bunner-input-wrap::before {
  content: ""; /*\1F50D*/
  position: absolute;
  background-image: url(img/search.png);
  width: 24px;
  height: 24px;
  display: block;
  top: 20px;
  left: 18px;
  background-color: transparent;
  color: #ffffff61;
}

.bunner-input {
  width: 70%;
  color: rgba(255, 255, 255, 0.38);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #283036;
  border: none;
  outline: none;
}

.bunner-btn {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 36px;
  border-radius: 8px;
  background-color: #ff6e30;
  border: none;
}

.social{
    display: flex;
}

.social-img{
    padding-top: 110px;
}

/* ====================popular section=================== */



.popular-h1{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 62.4px */
}

.popular-text{
    color: rgba(255, 255, 255, 0.55);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
padding-left: 390px;
padding-right: 391px; ;
}

.popular{
display: flex;
justify-content: center;
padding-top: 200px;
}

.popular-list{
display: flex;
flex-wrap: wrap;
gap: 95px 25px;
}

.popular-item{
flex-basis: calc((100% - 3 * 25px) / 3);
padding: 20px;
}

.popular-item:hover{
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background-color: rgba(40, 48, 54, 0.60);
    width: 392px;
    height: 294px;
    background-repeat: no-repeat;
    background-position: top right;
    background-position: top right;
    background-image: linear-gradient(to top right,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0)),
url(img/Снимок\ экрана\ 2024-04-30\ 202400.png);
}


.popular-item2{
    width: 288px;
    height: 284px; 
    padding-left: 15px;
    padding-top: 28px;
    padding-bottom: 28px;
     }

.popular-item2:hover{
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background-color: rgba(40, 48, 54, 0.60);
background-repeat: no-repeat;
    background-position: top right;
    background-image: linear-gradient(to top right,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0)),
url(img/Снимок\ экрана\ 2024-04-30\ 202400.png);
   
}

.popular-wrap-content{
    display: flex;
}

.popular-title{
    color: rgba(255, 255, 255, 0.78);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
justify-content: center;
align-items:end;

}

.popular-subtitle{
    color: rgba(255, 165, 55, 0.55);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.popular-description{
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
background-repeat: 33px;
border-left: 33px;
padding-bottom: 30px;

}

.popular-button{
    border-radius: 8px;
background: #1E252B;
width: 106px;
height: 42px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
}

.popular-button:hover{
   background-color: rgba(255, 110, 48, 1);
}

.popular-img{
    padding-right: 30px;
    padding-bottom: 31px;
}

/* .popular-icon:hover{ */
    /* background-image: url(img/flat-color-icons_like\ \(1\).png); */

/* } */

/* .popular-icon2:hover{ */
    /* background-image: url(img/eva_folder-add-outline\ \(1\).png); */
/* } */

.popular-icon{
margin-right: 16px;
}

.popular-icon2{
margin-right: 135px;
}

.popular-icon:hover{
background-image: url(img/flat-color-icons_like\ \(3\).png);
}

.popular-icon2:hover{
background-image: url(img/eva_folder-add-outline\ \(2\).png);
}

.popular-icon3:hover{
    background-image: url(img/eva_folder-add-outline\ \(2\).png);
    }

.ihfo-button{
    display: flex;
    justify-content: center;
    padding-top: 138px;
}

.popular-button2{
    color: #FF6E30;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #1E252B;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #1E252B;
width: 184px;
height: 64px;
flex-shrink: 0;

}

.popular-button2:hover{
border-color: #FF6E30;
color: #FFF;
}

.info-text{
    display: flex;
    justify-content: center;
    padding-top: 255px;
    padding-bottom: 55px;
}

.info-h{
    padding-top: 55px;
    text-align: center;
    margin-bottom: 55px;

    color: rgba(255, 255, 255, 0.80);
    font-size: 24px;
    font-weight: 500;

}



.info{
height: 253px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.01);
    background-color: rgba(44, 53, 61, 0.20);
    backdrop-filter: blur(25px);
    background-image: url(./img/brands-svg.svg);
    background-repeat: no-repeat;
    background-position: top left;

    margin-bottom: 220px;
    margin-top: 200px;
}

.info-content{
    display: flex;
    align-items: end;
    gap: 107px;
}

.brend-list{
    display: flex;
    column-gap: 107px;
    padding-left: 70px;
    padding-right: 70px;
    background-repeat: no-repeat;
}

.tool-section{
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 200px;
}

.tool{

}

.tool-list{
    display: flex;
    gap: 24px;
    padding-left: 0;
    flex-wrap: wrap;
}

.tool-text{
    color: rgba(255, 255, 255, 0.90);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 62.4px */
    margin-right: 223px;
    margin-bottom: 30px;
}

.tool-deskripshion{
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    width: 427px;
    margin-bottom: 60px;
}

.tool-icon{
    display: flex;
    align-items: baseline;
    gap: 70px;
    
}

.tool-button{
    width: 198px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FF6E30;
color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
}

.team{

}



.team-info{
    color: rgba(255, 255, 255, 0.78);


font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
letter-spacing: 0.21px;
}

.team {
    background-image: url(img/“.png);
    background-repeat: no-repeat;
    background-position-x: 591px;
    background-position-y: 157px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-div {
    width: 399px;
    height: 492px;
    background-image: url(img/david-suarez-4a1nNlrS5ZI-unsplash.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 60px;
    margin-bottom: -40px;
}

.team-title {
    color: rgba(255, 253, 253, 0.78);
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.39px;
}

.team-subtitle {
    color: rgba(255, 253, 253, 0.55);
    font-size: 16px;
    font-weight: 400;
}

.team-desc {
    margin-bottom: 50px;
    padding: 12px 23px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background-color: rgba(40, 48, 54, 0.20);
    backdrop-filter: blur(25px);
    background-image: linear-gradient(to bottom right,
            rgba(0, 122, 204, 0),
            rgba(0, 122, 204, 0),
            rgba(0, 122, 204, 0),
            rgba(0, 122, 204, 0.1),
            rgba(0, 122, 204, 0.5));
    background-repeat: no-repeat;
    background-position: bottom right;
}

.team-hero-div {
    width: 1224px;
    height: 600px;
    display: flex;
    align-items: center;
}

.team-list {
    display: flex;
}

.team-button {
    width: 48px;
    height: 48px;
    margin-right: 123px;
    background: none;
    border: none;
}

.team-button:last-child {
    margin-right: 0;
    margin-left: 125px;
}

.team-text {
    width: 393px;
    color: rgba(255, 255, 255, 0.78);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.21px;
}

.team-slider {
    margin-top: 50px;
    margin-bottom: 250px;
}

.contributor {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contributor-title {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 25px;
}

.contributor-subtitle {
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 100px;
    width: 427px;
}

.bunner-input-wrap-email {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 549px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    background-color: #283036;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 11px;
    margin-bottom: 121px;
}

.footer-line {
    height: 0.5px;
    background-color: black;
    margin-bottom: 70px;
    opacity: 0.1;
}

.footer {
    display: flex;
}

.first-div-footer {
    display: flex;
    flex-direction: column;
}

.div-footer-logo {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 27px;
}

.footer-logo {
    color: rgba(255, 255, 255, 0.90);
    font-size: 22px;
    font-weight: 600;
    transition: 0.2s ease;
}

.footer-logo:hover {
    color: #FF6E30;
}

.footer-list {
    display: flex;
    flex-direction: column;
    margin-right: 140px;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-item-title {
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 188px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 260px;
    margin-bottom: 100px;
    transition: 0.1s ease;
}

.footer-link {
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    width: 260px;
    margin-bottom: 100px;
    transition: 0.1s ease;
}

.footer-link:hover {
    color: #FF6E30;
}