html, 
body,
header,
a,
nav,
ul,
li,
section,
button,
h3,
p,
img,
 footer{ 
    margin: 0;
    padding:0 ;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Poppins;
    background: #1E252B;
}

.container{
    max-width: 1225px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* ===================header==================== */

.header{
  display: flex;
   
 
    
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 34px;
    padding-right: 257px;
    
   
    
}

.logo-img{
  
}

.nav{

}

.nav-list{
display: flex;
justify-content: space-between;
margin-top: 38px;
gap: 45px;
}

.nav-item{

}

.item{
    color: rgba(255, 255, 255, 0.55);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.item:hover{
    color: #FF6E30;
}

.reg{
     display: flex;
     padding-top: 38px;
     padding-left: 193px;
     padding-right: 41px;
     
     
     
}

.reg-item{
    color: rgba(255, 255, 255, 0.78);

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.reg-item:hover{
    color: #EA8C4F;
}

.btn{
    background-color: rgba(255, 110, 48, 1);
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-shrink: 0;
    border-radius: 8px;
    color: #FDF5FF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 28px;
}

.firsttext{

}





.banner{
background-image: url(img/Illustration.png);
background-repeat: no-repeat;
background-position: right;
padding-top: 90px;
text-align: left;
}

.banner-title{
    color: rgba(255, 255, 255, 0.90);
width: 600px;
font-size: 50px;
font-weight: 500;
line-height: 1.4; /* 70px */
}

.secondtext{
    color: rgba(255, 110, 48, 1);
}

.banner-text{
    color: rgba(255, 255, 255, 0.55);
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 487px;
margin-bottom: 60px;
}

.header-section-img{
 margin-top: 70px;
}

.bunner-form {
   
}
.bunner-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background-color: #283036;
  padding-left: 55px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 11px;
}

.bunner-input-wrap::before {
  content: ""; /*\1F50D*/
  position: absolute;
  background-image: url(img/search.png);
  width: 24px;
  height: 24px;
  display: block;
  top: 20px;
  left: 18px;
  background-color: transparent;
  color: #ffffff61;
}

.bunner-input {
  width: 70%;
  color: rgba(255, 255, 255, 0.38);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #283036;
  border: none;
  outline: none;
}

.bunner-btn {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 36px;
  border-radius: 8px;
  background-color: #ff6e30;
}

.social{
    display: flex;
}

.social-img{
    padding-top: 110px;
}

/* ====================popular section=================== */



.popular-h1{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 62.4px */
}

.popular-text{
    color: rgba(255, 255, 255, 0.55);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
padding-left: 390px;
padding-right: 391px; ;
}

.popular{
display: flex;
justify-content: center;
padding-top: 200px;
}

.popular-list{
display: flex;
flex-wrap: wrap;
gap: 95px 25px;
}

.popular-item{
flex-basis: calc((100% - 3 * 25px) / 3);
}

.popular-wrap-content{
    display: flex;
}

.popular-title{
    color: rgba(255, 255, 255, 0.78);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
justify-content: center;
align-items:end;

}

.popular-subtitle{
    color: rgba(255, 165, 55, 0.55);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.popular-description{
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
background-repeat: 33px;
border-left: 33px;
padding-bottom: 30px;

}

.popular-button{
    border-radius: 8px;
background: #1E252B;
width: 106px;
height: 42px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.popular-button:hover{
   background-color: rgba(255, 110, 48, 1);
}

.popular-img{
    padding-right: 30px;
    padding-bottom: 31px;
}

/* .popular-icon:hover{ */
    /* background-image: url(img/flat-color-icons_like\ \(1\).png); */

/* } */

/* .popular-icon2:hover{ */
    /* background-image: url(img/eva_folder-add-outline\ \(1\).png); */
/* } */

.popular-icon{
padding-right: 16px;
}

.popular-icon2{
padding-right: 140px;
}

.ihfo-button{
    display: flex;
    justify-content: center;
    padding-top: 138px;
}

.popular-button2{
    color: #FF6E30;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #1E252B;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #1E252B;
width: 184px;
height: 64px;
flex-shrink: 0;

}

.info-text{
    display: flex;
    justify-content: center;
    padding-top: 255px;
    padding-bottom: 55px;
}

.info-h{
    color: rgba(255, 255, 255, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info{
display: flex;
justify-content: center;
}

.info-content{
    display: flex;
    align-items: end;
    gap: 107px;
}
git add .

.tool{
padding-top: 280px;
}

.tool-text{
    color: rgba(255, 255, 255, 0.90);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 62.4px */
}

.tool-deskripshion{
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
}

.tool-button{
    width: 198px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FF6E30;
color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}